body {
  background-image: url("../images/beer-machine-alcohol.jpeg");

  #header {

      #top {
        border: solid yellow 1px;
        color: red;

        text-align: center;

        h1 {
          color: yellowgreen;
        }
      }
      #myNavbar {
        font-size: 130%;

        #navContents {
          text-align: center;
          position: relative;
        }
      }
  }
}





