body {
  background-color: black;
}

body #header #top {
  text-align: center;
}

body #header #navi {
  background-color: black;
}

body #header #navi #myNavbar {
  font-size: 140%;
  background-color: transparent;
}

body #header #navi #myNavbar #navContents {
  text-align: center;
  position: relative;
}

.mySlider img {
  max-width: 900px;
  max-height: 800px;
}

#eventBar .row .col-xs-3 .eventBarTitle {
  color: whitesmoke;
}

#eventBar .row .col-xs-3 .eventImg {
  max-height: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  #forSlider {
    display: none;
  }
}
