body {
  background-size: cover;
  background-color: black;
  /*
  .mySlider{

    img{
      min-width: 90%;
      &:hover{
      }
    }

  }


*/
}

body #header #top {
  border: solid orangered 1px;
  color: orange;
  text-align: center;
}

body #header #top h1 a {
  color: green;
}

body #header #myNavbar {
  font-size: 130%;
}

body #header #myNavbar #navContents {
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #forSlider {
    width: 0px;
  }
}
