body {
  background-color: black;
}

#titleMenu {
  text-align: center;
  color: #FAE6B0;
  font-family: 'Abril Fatface', cursive;
  font-size: 400%;
  margin: 2.5%;
}

#menuContainer {
  border: 10px solid #FAE6B0;
}

.category {
  color: rgba(255, 250, 25, 0.94);
  text-align: left;
  text-decoration: underline;
  font: bolder 200% 'Merienda One', Helvetica, sans-serif;
}

.dishCont {
  color: #FAE6B0;
  font-size: 130%;
}

.dishCont .dishName {
  font-weight: bolder;
  font: 200% 'Just Another Hand', Helvetica, sans-serif;
  text-decoration: underline;
}

.dishCont .dishDescription {
  font: 100% 'Merienda One', Helvetica, sans-serif;
}

.dishCont .dishPrice {
  float: right;
  font: 120% 'Merienda One', Helvetica, sans-serif;
}
