#menuContainer #spliter #myCart {
  border: 5px solid #FAE6B0;
  position: fixed;
  left: 60%;
}

#menuContainer #spliter #myCart h1 {
  font: 220% 'Merienda One', Helvetica, sans-serif;
  color: rgba(255, 250, 25, 0.94);
  text-decoration: underline;
}
