#footer{

color:#FAE6B0;

  #innerFooter{

    #dataContainer{   //row

      .part{    //col

        .miniTitleFooter{

          font-family: 'Yatra One', cursive;

        }
        p{
            padding-left: 3%;

        }
        img{
          padding-left: 3%;
          padding-bottom: 12%;

        }

      }

    }

  }

  #socialMediaBar{

    .social-item{
      color: #FAE6B0;
      padding: 2%;
      margin-bottom: 5%;
    }


  }

}