body {
  padding: 0px;
  background-color: black;

  #header {

    #logo {
      text-align: center;
      padding-top: 2.5%;

    }
  }
}



#navCont {

  #myNav {
    background-color: transparent;
    border: none;

    #myNavbar {
      float: none;
      text-align: center;

      #navList {
        font-size: 180%;
        background-color: black;
        display: inline-block;
        float: none;
        color:#FAE6B0;
        font-family: 'Yatra One', cursive;

        .menuItem{
          color:#FAE6B0;

          &:hover {
            color: #D7B55C;
          }

          }
        }
      }
    }
  }
