body {
  //background-image: url("../images/beer-machine-alcohol.jpeg");
  background-size: cover;
  background-color: black;

  #header {

    #top {
      border: solid orangered 1px;
      color: orange;

      text-align: center;

      h1 {

        a{
          color: green;
        }
      }

    }
    #myNavbar {
      font-size: 130%;

      #navContents {
        text-align: center;
        position: relative;
      }
    }
  }

  #wrapper{



  }


/*
  .mySlider{

    img{
      min-width: 90%;
      &:hover{
      }
    }

  }


*/
}

@media only screen and (max-width: 600px) {

  #forSlider{
    width: 0px;
  }
}

