body {
  //background-image: url("../images/beer-machine-alcohol.jpeg");
  background-size: cover;
  background-color: black;

  #header {

    #top {


      text-align: center;


    }

    #navi {

      background-color: black;
      position: relative;

      #myNavbar {
        font-size: 140%;
        background-color: transparent;
        #navContents {
          text-align: center;
          position: relative;
        }
      }
    }
  }
}


.mySlider{

  img{
    max-width: 900px;
    max-height: 800px;
    &:hover{
    }
  }

}


#eventBar{

  .row{

    .col-xs-3{

      .eventBarTitle{
        color:whitesmoke;
      }
      .eventImg{
          max-height: 200px;
          max-width: 200px;

      }

    }


  }


}






@media only screen and (max-width: 600px) {



  #forSlider{
    display: none;
  }
}

